@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lobster';
  src: url('/fonts/Lobster_1.3.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Timmy';
  src: url('/fonts/Timmy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.pixel-text {
  font-family: 'Timmy', sans-serif;
}

.hitos-text {
  font-family: 'Lobster', sans-serif;
}
